@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/
.display-flex{
    display: flex;
}

/*dark-1*/
.highly-gray{
    color: #131313;
}

/*dark-2*/
.text-gray{
    color: #424242;
}

/*dark-3*/
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}

.navbar, .banner, main, .footer{
    max-width: 1050px;
    margin: 0 auto;
}
main>section{
    margin-top: 50px;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 5px;
    padding: 15px 25px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}

/*header style*/




/*navbar styles*/
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: bold;
    font-size: 2rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.06rem;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

/*banner style*/
.banner-title{
    font-size: 4rem;
}
.banner-content{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.banner-img{
    width: 100%;
    margin-bottom: 20px;
}

/*main styles*/
main{
    max-width: 1;
}

/*team and features related style*/
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    margin-left: 70px;
    max-width: 500px;
    max-height: 270px;
}
.quick-list-design-2{
    color: #FF900E;
}

/*features section related style*/
.features{
    gap: 70px;
}

#features-section-title{
    border-left: 4px solid #FF900E;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.features-card{
    padding: 20px;
    box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 5px;
}
.features-card .features-title{
    font-weight: 600;
    font-size: 1.25rem;
}

#experience-badge{
    padding: 20px 20px;
    margin-left: -70px;
    margin-top: -70px;
}
.experience-year{
    font-size: 3rem;
    font-weight: bold;
}

.img-container img{
    height: auto;
    width: 100%;
}

/*some fact related styles*/
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}
.fact-description{
    max-width: 500px;
    height: 250px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-weight: 600;
    margin-top: 10px;
}

/*Sponsors related Styles*/
.sponsors-info{
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img{
    filter: grayscale(100%);
}

/*footer styles*/
.footer{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 150px;
    background-color: #FFF4E7;

}

/*Responsive media query*/
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .team{
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container,
    .sponsors-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container, 
    .sponsors-company{
        justify-items: center;
        gap: 10px;
    }
}

/*medium size device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .sponsors-company, .facts-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

